FORMAT: 1A
HOST: http://vmpro.eh.mi24.tv

# vmpro
VMPRO API is a *short texts saving* service similar to its physical paper presence on your table.

# Group Embed Types
Notes related resources of the **VMPRO API**

## Embed Types Collection [/vam/rest/vms/{videoManagerId}/embedtype]
A list of all Embed Types as an array of objects

+ Parameters
    + videoManagerId (required, number, `2`) ... Numeric `id` of the VideoManager to perform action with. Has example value.


### List all Embed Types [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "title": "HTML-Code (APIARY)"
        }, {
          "id": 2, "title": "Link-URL (APIARY)"
        }]

## Embed Type [/vam/rest/vms/{videoManagerId}/embedtype/{embedTypeId}]
A single Embed Type object with all its details

+ Parameters
    + videoManagerId (required, number, `2`) ... Numeric `id` of the VideoManager to perform action with. Has example value.
    + embedTypeId (required, number, `1`) ... Numeric `id` of the Embed Type to perform action with. Has example value.

### Retrieve an Embed Type [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Link-URL (APIARY)" }


# Group Player Skins
Player Skins related resources of the **VMPRO API**

## Player Skins Collection [/vam/rest/vms/{videoManagerId}/playerskin]
A list of all Player Skins as an array of objects

+ Parameters
    + videoManagerId (required, number, `2`) ... Numeric `id` of the VideoManager to perform action with. Has example value.


### List all Player Skins [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "title": "Player Skin default (APIARY)"
        }, {
          "id": 2, "title": "Player Skin green (APIARY)"
        }]

## Player Skin [/vam/rest/vms/{videoManagerId}/playerskin/{playerSkinId}]
A single Player Skin object with all its details

+ Parameters
    + videoManagerId (required, number, `2`) ... Numeric `id` of the VideoManager to perform action with. Has example value.
    + playerSkinId (required, number, `1`) ... Numeric `id` of the Embed Type to perform action with. Has example value.

### Retrieve an Embed Type [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "title": "Player Skin default (APIARY)" }


# Group Embed Codes
Embed Codes related resources of the **VMPRO API**

## Embed Codes Collection [/vam/rest/vms/{videoManagerId}/video/{videoId}/player/{playerSkinId}/embedcode]
A list of all Embed Codes of selected video as an array of objects

+ Parameters
    + videoManagerId (required, number, `2`) ... Numeric `id` of the VideoManager to perform action with. Has example value.
    + videoId (required, string, `74WGsUCJ3QJMjN8-LeYFpm`) ... string `id` of the selected video to perform action with. Has example value.
    + playerSkinId (required, number, `2`) ... Numeric `id` of the Player Skin to perform action with. Has example value.


### List all Embed Codes [GET]
+ Response 200 (application/json)

        [{
          "id": 1, "code": "<embed code/> (APIARY)"
        }, {
          "id": 2, "code": "//link-url.com (APIARY)"
        }]

## Embed Code [/vam/rest/vms/{videoManagerId}/video/{videoId}/player/{playerSkinId}/embedcode/{embedTypeId}]
A single Embed Code object with all its details

+ Parameters
    + videoManagerId (required, number, `2`) ... Numeric `id` of the VideoManager to perform action with. Has example value.
    + videoId (required, string, `74WGsUCJ3QJMjN8-LeYFpm`) ... string `id` of the selected video to perform action with. Has example value.
    + playerSkinId (required, number, `2`) ... Numeric `id` of the Player Skin to perform action with. Has example value.
    + embedTypeId (required, number, `2`) ... Numeric `id` of the Player Skin to perform action with. Has example value.


### Retrieve an Embed Code [GET]
+ Response 200 (application/json)

    + Header

            X-My-Header: The Value

    + Body

            { "id": 2, "code": "//link-url.com (APIARY)" }
            

